/* 
=======================================
 ! Custom properties
=======================================
 */
:root {
  --main-color: rgb(226, 155, 2);
  --text-color: #242424;
  --nav-color: #fdb500;
  --data-color: #de7118;
}
/* 
=======================================
 ! General styles
=======================================
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/fondo2.png");
  backdrop-filter: blur(1.5px);
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Squada One", cursive;
  font-size: 16px;
  overflow-x: hidden;
}
body > main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 4%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
/* 
=======================================
 ! main design styles
=======================================
 */
#left_section {
  position: relative;
  margin: 0% 1%;
  width: 100%;
  height: 70%;
  max-width: 800px;
  min-width: 200px;
  overflow-x: visible;
  z-index: 1;
}
#right_section {
  border-radius: 20px;
  margin: 0% 1%;
  width: 30%;
  height: 70%;
  max-width: 300px;
  min-width: 250px;
  display: none;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.score-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  padding-top: 20px;
  border-radius: 20px;
}
.back {
  background-color: white;
  opacity: 1;
  border-radius: 1px;
  border: 6px outset rgb(209, 143, 0);
}
.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}
.container-grid > div {
  width: 22%;
  flex: none;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-grid > div img {
  max-width: 110px;
  width: 100%;
}
/* 
=======================================
 ! Registration page
=======================================
 */
.title {
  padding: 15px;
  width: 90%;
  max-width: 450px;
  border: 6px double var(--main-color);
  color: var(--main-color);
}
.title p {
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  color: var(--main-color);
  text-align: center;
}
.user-name {
  padding: 15px 0px;
  width: 90%;
  max-width: 450px;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-name input {
  width: 50%;
}
#btnStart {
  background-image: url("../img/start.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  border: none;
  background-color: none;
  outline: none;
  cursor: pointer;
}
div.icon{
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  visibility: hidden;
}
div.volume-show {
  visibility: visible;
} 
/* 
=======================================
 ! Scoring styles
=======================================
 */
ol.list-styles {
  font-size: 1.2rem;
  color: white;
  width: 80%;
  counter-reset: counterName;
}
ol.list-styles > li {
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  position: relative;
  counter-increment: counterName;
}
ol.list-styles > li p {
  position: absolute;
  right: 1rem;
}
ol.list-styles > li:before {
  content: counter(counterName);
  padding: 0 1rem;
}
input.name {
  color: rgb(41, 40, 40);
  font-size: 24px;
  padding: 1%;
  background-color: var(--nav-color);
  border-radius: 5px;
  border: 6px double #664901;
}

/* 
=======================================
 ! user data play page
=======================================
 */
#dataUser {
  background-color: var(--data-color);
  position: absolute;
  top: -100px;
  left: calc(50% - (200px / 2));
  border-radius: 2px;
  border: 2px outset var(--data-color);
  height: 80px;
  min-width: 200px;
  gap: 8px;
}
div#contentPlay {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
div#contentPlay p {
  color: white;
  opacity: 0.8;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}
.circle > div.screw {
  border-radius: 50%;
  background-color: rgb(255, 174, 0);
  border: 2px outset rgb(255, 174, 0);
  width: 12px;
  height: 12px;
}
.circle :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.circle :nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.circle :nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}
.circle :nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* 
=======================================
 ! finish page
=======================================
 */
img.win-mario {
  height: 70%;
}
#play-again {
  padding: 0.9rem;
  margin-top: 1rem;
  width: 90%;
  max-width: 300px;
  border: 6px double var(--main-color);
  color: var(--main-color);
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}
.shadow:hover {
  -webkit-animation: shadow-drop-2-center 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* 
=======================================
 ! nav bar styles
=======================================
 */
#nav {
  z-index: 20;
}
.navOpen {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1%;
  width: 60px;
  height: 60px;
}
.navClose {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 5px;
  border: 6px double #664901;
  background-color: var(--nav-color);
  width: 70px;
  height: 70px;
  max-width: 280px;
}
.nav-animation {
  visibility: visible;
  height: 70%;
  width: 100%;
  transition: height 0.2s ease-out, width 0.2s ease-out;
}
.navClose div {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navClose > img {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 30px;
}

/* 
=======================================
 ! Animations
=======================================
 */
.wrong {
  -webkit-animation: wrong 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: wrong 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes wrong {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@keyframes wrong {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.matched {
  -webkit-animation: matched 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: matched 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes matched {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px)
      translateX(1000px);
    transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes matched {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateZ(-1100px) translateY(-1000px)
      translateX(1000px);
    transform: translateZ(-1100px) translateY(-1000px) translateX(1000px);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.pulsate:hover {
  -webkit-animation: pulsate 0.5s ease-in-out infinite both;
  animation: pulsate 0.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px var(--main-color);
    box-shadow: 0 0 20px 0px var(--main-color);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px var(--main-color);
    box-shadow: 0 0 20px 0px var(--main-color);
  }
}
/* 
=======================================
 ! Media queries
=======================================
 */

/* Tablet */
@media only screen and (min-width: 500px) {
  .title {
    font-size: 1.3em;
  }
}

/* Desktop */
@media only screen and (min-width: 946px) {
  .title {
    padding: 20px;
    font-size: 1.5rem;
  }
  #nav {
    display: none;
  }
  #left_section {
    width: 60%;
  }
  #right_section {
    display: block;
  }
}
