/* GENERAL STYLES ------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat";
  overflow-x: hidden;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  color: #242424;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #242424;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #242424;
  line-height: 1.4;
}

ul.list {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 580;
  color: #242424;
}

ul.list > li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #242424;
}

label {
  font-family: "Ubuntu", sans-serif;
  color: #242424;
  font-size: 13px;
  font-weight: 300;
}

input {
  font-family: "Ubuntu", sans-serif;
  color: #242424;
  font-size: 16px;
  font-weight: 300;
}

/* ----------------------- */

body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  font-weight: normal;

  background-image: url("../img/fondo2.png");
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body > main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 4%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#dataUser {
  background-color: #de5918;
  position: absolute;
  top: -100px;
  left: calc(50% - (200px / 2));
  border-radius: 2px;
  height: 80px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#dataUser > p {
  color: white;
  font-size: 18px;
}
#left_section {
  position: relative;
  /*background-color: white;*/
  /* border-radius: 20px; */
  padding: 0%;
  margin: 0% 1%;
  width: 73%;
  max-width: 800px;
  height: 70%;
  min-width: 200px;
  overflow-x: visible;
  z-index: 1;
}
#right_section {
  /*background-color: white;*/
  border-radius: 20px;
  padding: 0%;
  margin: 0% 1%;
  width: 23%;
  max-width: 300px;
  height: 70%;
  min-width: 200px;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.back {
  background-color: white;
  opacity: 0.7;
}
.container-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}
.container-grid > div {
  width: 22%;
  /* max-width: 100px;
  max-height: 100px; */
  flex: none;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1%;
  width: 60px;
  height: 60px;
  padding: 0;
}
#nav {
  display: none;
  z-index: 20;
}
.navBar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fdb500;
  width: 90%;
  height: 70%;
  padding: 1%;
}
.navBar > div > img {
  position: fixed;
  right: 0;
  width: 40px;
  padding: 1%;
}
/*  
=============================
Media queries
=============================
*/
/* Mobile */
@media only screen and (max-width: 468px) {
  body {
  }
  #right_section {
    display: none;
  }
  #nav {
    display: block;
  }

  .container-grid {
    /* align-items: center; */
    height: 100%;
    max-height: 500px;
  }

  #left_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    height: 70%;
    min-width: 200px;
  }
  .listNav {
  }
}

/* Tablet */
@media only screen and (min-width: 469px) {
  #right_section {
    display: none;
  }
  #nav {
    display: block;
  }
  body {
  }
}

/* PC */
@media only screen and (min-width: 946px) {
  #right_section {
    display: block;
  }
  #nav {
    display: none;
  }
}
